/*  your css code here. If applicable */
 table {
      border-collapse: separate;
      border-spacing: 10px;
      width: 400px;
    }

    th, td {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 0.5rem;
      text-align: left;
    }

    tr:nth-child(odd) {
      background-color: #f2f2f2;
    }

    tr:nth-child(even) {
      background-color: #ffffff;
    }